# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.idea/
.vscode/
out/

# Class Files #
*.class

# Package Files #
*.war
*.ear

lastOrder.pdf
lastReturnOrder.pdf
omega-book.iml
.DS_Store
